
 <!--    <h2>Timley</h2>
    
    <app-add-session>

    </app-add-session>
   
    <app-update-session></app-update-session>-->


    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
       <mat-icon>alarm</mat-icon>
     </button>
     <span>Timely</span>
     <span class="example-spacer"></span>
     <button (click)="deleteSessions()">Delete all sessions </button>
     
    
   </mat-toolbar>

   <app-start></app-start>
   <!--<app-table></app-table>-->
 <!--...
    <div style=" margin: auto; width: 50%;">
      <button (click)="exportexcel()">Export to Excel</button>SS
     
      <table id="excel-table">
       
        <tr *ngFor="let session of workSessions">
        
          <td>{{session.sessionName}</td>
          <td>{{session.startDate}</td>
          <td>{{session.endDate}}</td>
          <td>{{session.duration}}</td>
        </tr>
      </table>
    </div>

    <button (click)="getTime()">start button old</button>
    -->